{% extends '@CodeClubAdmin/_base/admin_base.html.twig' %}

{% set labelRegion, buttonIdRegion, idStringRegion, buttonLabelRegion = 'Region', 'submitRegion', 'region', 'Endre Region' %}
{% set labelEmail, buttonIdEmail, idStringEmail, buttonLabelEmail = 'E-post', 'submitEmail', 'email', 'Endre E-post' %}
{% set labelFacebook, buttonIdFacebook, idStringFacebook, buttonLabelFacebook = 'facebook.com/', 'submitFacebook', 'facebook', 'Endre Facebook' %}


{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Info Kodeklubben</h1>
        <hr>
    </section>

    <section class="content">
        {% include '@StaticContent/control_panel/form_text.html.twig' with {'label': labelRegion, 'buttonId': buttonIdRegion, 'idString': idStringRegion, 'buttonLabel': buttonLabelRegion} %}
        <br>
        <br>
        {% include '@StaticContent/control_panel/form_text.html.twig' with {'label': labelEmail, 'buttonId': buttonIdEmail, 'idString': idStringEmail, 'buttonLabel': buttonLabelEmail} %}
        <br>
        <br>
        {% include '@StaticContent/control_panel/form_text.html.twig' with {'label': labelFacebook, 'buttonId': buttonIdFacebook, 'idString': idStringFacebook, 'buttonLabel': buttonLabelFacebook} %}


    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js/static_content_api.js') }}"></script>
    <script>
        handleStaticContentFormSubmit($('#{{ buttonIdRegion }}'), '{{ idStringRegion }}', $('#{{ idStringRegion }}Content'));
        handleStaticContentFormSubmit($('#{{ buttonIdEmail }}'), '{{ idStringEmail }}', $('#{{ idStringEmail }}Content'));
        handleStaticContentFormSubmit($('#{{ buttonIdFacebook }}'), '{{ idStringFacebook }}', $('#{{ idStringFacebook }}Content'));
    </script>
{% endblock %}