<div class="table-responsive time-table-wrapper">
    <table class="time-table">
        <thead>
        <tr>
            <th>Dato</th>
            <th>Dag</th>
            <th>Tid</th>
            <th>Sted</th>
        </tr>
        </thead>
        <tbody>
        {% for class in course.classes %}
            {% set week, currentWeek = class.time|date('W'), 'now'|date('W') %}

            <tr class="{{ week == currentWeek ? 'text-bold text-primary' }}{{ week < currentWeek ? 'text-faded' }}">
                <td>{{ class.time|localizeddate('none', 'none', app.request.locale, null, 'dd MMM')|replace({'.': '', ' ': '. '}) }}</td>
                <td>{{ class.dayNorwegian|slice(0,3) }}</td>
                <td>{{ class.time|date('H:i') }}</td>
                <td>{{ class.place }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if (not course.classes|length) %}<h4>Timeplanen er ikke tilgjengelig enda</h4>{% endif %}
</div>
