<div class="box box-success">
    <div class="box-header">
        <h4>Du har meldt deg på følgende kurs:</h4>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Beskrivelse</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for tutor in tutors %}
                    <tr>
                        <td>{{ tutor.course.name }}</td>
                        <td>{{ tutor.course.description }}</td>
                        <td>{{ tutor.isSubstitute ?
                            '<span class="text-warning text-bold">Vikar</span>'
                            :
                            '<span class="text-success text-bold">Veileder</span>' }}
                        </td>
                        <td>
                            <form method="POST"
                                    {% if is_granted('ROLE_ADMIN') %}
                                  action="{{ path('course_admin_withdraw_tutor', {'id': tutor.id}) }}">
                                {% else %}
                                    action="{{ path('withdraw_from_course_tutor', {'id': tutor.course.id}) }}">
                                {% endif %}
                                <button type="submit"
                                        class="btn btn-warning btn-xs btn-flat float-right onclick-disable">
                                    Meld av
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
