{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <form>
            <input id="user-search" type="text" name="search" placeholder="Søk..." class="form-control input-sm float-right">
        </form>
        <h1>Brukere</h1>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-success btn-sm btn-flat" href="{{ path('cp_user_create') }}">
                    Ny bruker <i class="fa fa-plus"></i>
                </a>
                {% if searchQuery | length > 0 %}
                    <h4>
                        Søkeresultat: {{ searchQuery }}
                    </h4>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped user-table">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(users, 'Navn', ['user.firstName', 'user.lastName']) }}</th>
                            <th>{{ knp_pagination_sortable(users, 'E-post', 'user.email') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Telefon', 'user.phone') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Opprettet', 'user.createdDatetime') }}</th>
                            <th>{{ knp_pagination_sortable(users, 'Brukertype', 'user.roles') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% set role = user.roles[0]|role %}
                                <tr userid="{{ user.id }}"
                                    role="{{ role }}">
                                    <td>
                                        <a class="no-text-decoration" href="{{ path('cp_user', {'id': user.id}) }}">
                                            {{ user.fullName }}
                                        </a>
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdDatetime|date('d.m.Y') }}</td>
                                    <td class="user-role">
                                        {% if user != app.user %}
                                            {{ role }} (<span class="text-clickable text-warning change-user-type">Endre</span>)
                                        {% else %}
                                            <span class="text-gray">Kan ikke endre deg selv</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user != app.user %}
                                            <span class="text-clickable text-danger delete-user">Slett bruker</span>
                                        {% else %}
                                            <span class="text-gray">Kan ikke slette deg selv</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(users) }}
                        </div>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script>
        var roleOptions = [
            $('<option role="participant" value="Deltaker">Deltaker</option>'),
            $('<option role="parent" value="Foresatt">Foresatt</option>'),
            $('<option role="tutor" value="Veileder">Veileder</option>'),
            $('<option role="admin" value="Admin">Admin</option>')
        ];
        function renderChangeRole($tableRow) {
            var $userRoleCell = $tableRow.find('.user-role');
            var role = $tableRow.attr('role');
            var $changeSpan = $('<span class="text-clickable text-warning change-user-type">Endre</span>');
            $userRoleCell.empty();
            $userRoleCell.append(role);
            $userRoleCell.append(' (');
            $userRoleCell.append($changeSpan);
            $userRoleCell.append(')');
            addOnChangeRole($changeSpan);
        }
        function addOnChangeRole($changeSpan) {
            $changeSpan.click(renderChangeRoleForm);
        }
        function renderChangeRoleForm() {
            var $changeSpan = $(this);
            var $tableRow = $changeSpan.closest('tr');
            var currentRole = $tableRow.attr('role');
            var $form = $('<form role="form"></form>');
            var $formGroup = $('<div class="form-group form-group-sm"></div>');
            var $select = $('<select class="form-control"></select>');
            $select.append($('<option>' + currentRole + '</option>'));
            roleOptions.forEach(function (option) {
                if (option.html() != currentRole) {
                    $select.append(option.clone());
                }
            });
            $select.change(selectRole);
            $formGroup.append($select);
            $form.append($formGroup);
            $changeSpan.parent().html($form);
        }
        function selectRole() {
            var $select = $(this);
            var $tableRow = $(this).closest('tr');
            var currentRole = $tableRow.attr('role');
            var userId = $tableRow.attr('userid');
            if ($select.val() !== currentRole) {
                var $selectedOption = $('select>option[value="' + $select.val() + '"]');
                //Add loading wheel
                $select.parent().html(getLoadingWheel());
                var selectedRole = $selectedOption.attr('role');
                var postData = {
                    userId: userId,
                    role: selectedRole
                };
                $.post(Routing.generate('cp_change_user_type', {}, true), postData, function (data) {
                    if (data.status === 'success') {
                        $tableRow.attr('role', $selectedOption.val());
                        renderChangeRole($tableRow);
                    }
                })
            }
        }
        function addOnClickDelete($ele) {
            $ele.click(function () {
                if(!confirm('Er du sikker?')) return;
                $(this).html(getLoadingWheel);
                var $tableRow = $(this).closest('tr');
                var postData = {
                    userId: $tableRow.attr('userid')
                };
                $.post(Routing.generate('cp_user_delete', {}, true), postData, function (data) {
                    if (data.status === 'success') {
                        $tableRow.fadeOut("slow", function () {
                            $tableRow.remove();
                        });
                    }

                })
            });
        }
        $('document').ready(function () {
            $('.change-user-type').each(function (index, ele) {
                addOnChangeRole($(ele));
            });

            $('.delete-user').each(function (index, ele) {
                addOnClickDelete($(ele));
            });
        })
    </script>
{% endblock %}

