{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <h1>Veiledere {{ semester }}</h1>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary btn-flat btn-sm dropdown-toggle" type="button" data-toggle="dropdown">{{ semester }}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for sem in semesters %}
                    <li><a href="{{ path('cp_tutors', {'semester': sem.id}) }}">{{ sem }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>
    <section class="content">
        <div class="box box-info">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Navn</th>
                            <th>E-post</th>
                            <th>Telefon</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            {% if course.tutors|length %}
                                <tr>
                                    <td colspan="5">
                                        <h5 class="text-bold">{{ course.name }} ({{ course.description }}) Antall: {{ course.tutors|length }}</h5>
                                    </td>
                                </tr>
                                {% for tutor in course.tutors %}
                                    <tr>
                                        <td>{{ tutor.user.fullName }}</td>
                                        <td>{{ tutor.user.email }}</td>
                                        <td>{{ tutor.user.phone }}</td>
                                        <td>{{ tutor.isSubstitute ?
                                            '<span class="text-warning text-bold">Vikar</span>'
                                            :
                                            '<span class="text-success text-bold">Veileder</span>' }}
                                        </td>
                                        <td>
                                            <form method="POST" onsubmit="return confirm('Er du sikker?')"
                                                  action="{{ path('course_admin_withdraw_tutor', {id: tutor.id}) }}">
                                                <button type="submit" class="text-danger btn-link onclick-disable">Fjern</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}

