<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">NAVIGASJON</li>
            <li>
                <a href="{{ path('control_panel') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Kontrollpanel</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_users') }}">
                    <i class="fa fa-user"></i> <span>Brukere</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span>Kurs</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{{ path('cp_course') }}">
                            <i class="fa fa-circle-o"></i> <span>Kurs</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('cp_course_type') }}">
                            <i class="fa fa-briefcase"></i> <span>Kurstyper</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('cp_tutors') }}">
                            <i class="fa fa-user-secret"></i> <span>Veiledere</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('cp_participants') }}">
                            <i class="fa fa-users"></i> <span>Deltakere</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('cp_email') }}">
                    <i class="fa fa-envelope"></i> <span>E-post</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_message') }}">
                    <i class="fa fa-comment"></i> <span>Meldinger</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_info') }}">
                    <i class="fa fa-info-circle"></i> <span>Info Kodeklubben</span>
                </a>
            </li>
            <li class="header">STATISK INNHOLD</li>
            <li>
                <a href="{{ path('cp_sc_header') }}">
                    <i class="fa fa-file-text-o"></i> <span>Header</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sc_tagline') }}">
                    <i class="fa fa-tag"></i> <span>Tagline</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sc_participant_info') }}">
                    <i class="fa fa-user"></i> <span>Deltaker</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sc_tutor_info') }}">
                    <i class="fa fa-user-secret"></i> <span>Veileder</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sc_about_participant') }}">
                    <i class="fa fa-info"></i> <span>Om oss - For Deltakere</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sc_about_tutor') }}">
                    <i class="fa fa-info"></i> <span>Om oss - For Veiledere</span>
                </a>
            </li>
            <li>
                <a href="{{ path('cp_sponsors') }}">
                    <i class="fa fa-info"></i> <span>Sponsorer</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
