{% extends "base/base.html.twig" %}

{% block title %}Logg inn{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-warning">
            {{ error.messageKey|trans(error.messageData, 'security')|replace(
            {'Ugyldig påloggingsinformasjonen.': 'E-post og/eller passord er feil'}
            ) }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endif %}
    <div class="row">
        <h1 class="text-center">Innlogging</h1>
        <p class="text-center"><a href="#register">Har du ikke bruker?</a></p>
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="box box-default">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <form role="form" action="{{ path('security_login_check') }}" method="post">
                        <div class="form-group">
                            <label for="username">E-post:</label>
                            <input class="form-control" type="text" id="username" name="_username"
                                   value="{{ last_username }}" {{ not last_username|length ? 'autofocus' }} required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Passord:</label>
                            <input class="form-control" type="password" id="password" name="_password"
                                    {{ last_username|length ? 'autofocus' }} required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="remember_me">&nbsp;Husk meg</label>
                            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block btn-md onclick-disable" type="submit">Logg inn
                            </button>
                        </div>
                        <div class="form-group">
                            <p class="text-center"><a href="{{ path('password_reset') }}">Glemt passord?</a></p>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <hr>
    <div id="register" class="text-center register-container">
        <h3>Har du ikke bruker? Registrer deg her</h3>
        {% include 'user/registration_options.html.twig' %}
    </div>
{% endblock %}
