{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <h1>Bruker: {{ user.fullName }}</h1>
        <hr>
    </header>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <p>Brukertype: {{ user.roles[0]|role }}</p>
                <p>E-post: {{ user.email }}</p>
                <p>Tlf: {{ user.phone }}</p>
                <p>Registrert: {{ user.createdDatetime|date('d.m.Y') }}</p>
                {% if 'ROLE_ADMIN' in user.roles == false %}
                    <p><a href="{{ path('cp_sign_up', {'id': user.id}) }}">Meld på kurs >></a></p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
