<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kodeklubben - Kontrollpanel{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Skin style -->
    <link rel="stylesheet" href="{{ asset('css/skin-blue.css') }}">
    <!-- Custom style -->
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin_app.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/icon.png') }}"/>

</head>
<body class="hold-transition skin-blue">

{% include '_base/admin_navigation.html.twig' %}

<div class="wrapper">
    <!-- Main header. contains mobile navigation button -->
    {{ include('control_panel/main-header.html.twig') }}
    <!-- Left side column. contains sidebar -->
    {{ include('control_panel/main-sidebar.html.twig') }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>
</div>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/admin_app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
