{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <h1>Påmelding for: {{ user.fullName }}</h1>
        <hr>
    </header>
    <div class="content">
        {% include 'common/flash_message.html.twig' with {'type': 'danger'} %}
        {% include 'common/flash_message.html.twig' with {'type': 'warning'} %}
        {% include 'common/flash_message.html.twig' with {'type': 'success'} %}
        <h1 class="text-center">Påmelding for barn til foresatte {{ currentSemester }}</h1>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-0 {{ participants|length ? 'col-lg-push-6' }}">
                <div class="box box-info">
                    <div class="box-header">
                        <h4>{{ user.fullName }} sine barn <a href="{{ path('cp_child_create', {'user': user.id}) }}" class="btn btn-xs btn-success float-right">Nytt
                                barn <i class="fa fa-plus"></i></a></h4>
                    </div>
                    <div class="box-body">
                        {% include 'user/children_table.html.twig' %}
                    </div>
                </div>
            </div>

            {% if participants|length %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-0 col-lg-pull-6">
                    {% include 'course/sign_up/signed_up_children.html.twig' %}
                </div>
            {% endif %}

        </div>

        {% for courseTypeName in courseTypes|keys %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 id="{{ courseTypeName }}">{{ courseTypeName }}</h3>

                    <div class="row is-flex text-center">
                        {% for course in courseTypes[courseTypeName] %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div>
                                            <h4><b>{{ course.name }}</b></h4>
                                            <p class="description">{{ course.description }}</p>
                                            {% include 'course/sign_up/course_time_table.html.twig' with {'course': course} %}
                                        </div>
                                        <div class="pull-down">
                                            <footer>
                                                {% include 'course/control_panel/sign_up/forms/parent_signup_form.html.twig' %}
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var $timeTables = $('.time-table');
            $timeTables.each(function () {
                sortTableByAttribute($(this), 'timestamp', true);
            });
        })
    </script>
{% endblock %}
