{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <h1>P책melding for: {{ user.fullName }}</h1>
        <hr>
    </header>
    <div class="content">
        {% include 'common/flash_message.html.twig' with {'type': 'danger'} %}
        {% include 'common/flash_message.html.twig' with {'type': 'warning'} %}
        {% include 'common/flash_message.html.twig' with {'type': 'success'} %}
        <h1 class="text-center">P책melding for veiledere {{ currentSemester }}</h1>
        <hr>
        {% if tutors|length %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    {% include 'course/sign_up/signed_up_tutor.html.twig' %}
                </div>
            </div>
        {% endif %}

        {% for courseTypeName in courseTypes|keys %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 id="{{ courseTypeName }}">{{ courseTypeName }}</h3>

                    <div class="row is-flex text-center">
                        {% for course in courseTypes[courseTypeName] %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div>
                                            <h4><b>{{ course.name }}</b></h4>
                                            <p class="description">{{ course.description }}</p>
                                            {% include 'course/sign_up/course_time_table.html.twig' with {'course': course} %}
                                        </div>
                                        <div class="pull-down">
                                            <footer>
                                                {% set alreadySignedUp = is_in_course(tutors, course) %}
                                                <hr>
                                                <form action="{{ path('cp_sign_up_course', {'course': course.id, 'user': user.id}) }}"
                                                      method="POST">
                                                    <label>
                                                        <input type="checkbox" name="substitute">
                                                        Kun som vikar
                                                    </label>
                                                    <br>
                                                    <button type="submit" {{ alreadySignedUp ? 'disabled' }}
                                                            class="btn btn-primary btn-sm btn-sign-up onclick-disable">
                                                        {{ alreadySignedUp ? 'P책meldt': 'Meld p책' }}
                                                    </button>
                                                    <a href="{{ path('course_info', {id: course.id}) }}"
                                                       class="btn btn-sm btn-default">Mer
                                                        info</a>
                                                </form>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var $timeTables = $('.time-table');
            $timeTables.each(function () {
                sortTableByAttribute($(this), 'timestamp', true);
            })
        })
    </script>
{% endblock %}
