{% extends 'base/base.html.twig' %}

{% block body %}
    <p></p>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">

            <h4>Lag nytt passord</h4>

            {% for flashMessage in app.session.flashbag.get('errorMessage') %}
                <div class="alert alert-warning">{{ flashMessage|purify }}</div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form) }}
            <button class="btn btn-sm btn-primary onclick-disable" type="submit">Lagre nytt passord</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
