{% extends 'base/base.html.twig' %}

{% block title %}
    Tilbakestill passord
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">

            <h4>Tilbakestill passord</h4>

            {% for flashMessage in app.session.flashbag.get('errorMessage') %}
                <div class="alert alert-warning">{{ flashMessage|purify }}</div>
            {% endfor %}

            {% if message is defined %}
                <p>{{ message }}</p>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-sm btn-primary onclick-disable">Tilbakestill passord</button>
            {{ form_end(form) }}
            <br>
        </div>
    </div>
{% endblock %}
