<div class="table-responsive time-table-wrapper">
    <table class="time-table" class="table table-striped table-fixed">
        <thead>
        <tr>
            <th>Uke</th>
            <th>Dag</th>
            <th>Tid</th>
            <th>Sted</th>
        </tr>
        </thead>
        <tbody>
        {% for class in course.classes %}
            <tr class="{{ 'now'|date('W') == class.time|date('W') ? 'text-bold text-info' }}"
                timestamp="{{ class.time|date('U') }}">
                <td>{{ class.time|date('W') }}</td>
                <td>{{ class.dayNorwegian }}</td>
                <td>{{ class.time|date('H:i') }}</td>
                <td>{{ class.place }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if (not course.classes|length) %}<h4>Ingen kurs denne
        uken</h4>{% endif %}
</div>