{{ name }} har rykket opp fra ventelisten i <a href="{{ url('course_info', {id: participant.course.id}) }}">{{ participant.course }}</a>.

<a href="{{ url('course_info', {id: participant.course.id}) }}">Følg denne linken</a> for å se timeplan og mer informasjon om kurset.

Mvh,
{{ get_club() }}
https://trondheim.kodeklubben.no
