{% if not course.hasStarted %}
    <p class="text-info">
        Første kursdag er
        {{ course.startDate|localizeddate('none', 'none', app.request.locale, null, 'dd. MMMM') }}
    </p>
{% endif %}

{% if course.hasEnded %}
    <p class="text-danger">Siste kursdag var
        {{ course.endDate|localizeddate('none', 'none', app.request.locale, null, 'dd. MMMM') }}
    </p>
{% else %}
    <form action="{{ path(course.isFull ? 'course_enqueue' : 'sign_up_course', {'id': course.id}) }}" method="POST">

        {% set alreadySignedUp = is_in_course(participants, course) %}

        {% set placesLeft = course.participantLimit-course.participants|length %}

        <p class="{{ places_left_color_class(course) }} text-bold">{{ placesLeft }} {{ placesLeft == 1 ? 'ledig plass' : 'ledige plasser' }}</p>
        {% if placesLeft <= 0 %}
            <p>Venteliste: {{ course.queue|length }} i kø</p>
            <button type="submit" class="btn btn-warning btn-sm onclick-disable">
                Venteliste
            </button>
        {% else %}
            <button {{ alreadySignedUp ? 'type="button" disabled' : 'type="submit"' }}
                    class="btn btn-primary btn-sm onclick-disable">{{ alreadySignedUp ? 'Påmeldt': 'Meld på' }}</button>
        {% endif %}
        <a href="{{ path('course_info', {id: course.id}) }}"
           class="btn btn-sm btn-default">Mer
            info</a>
    </form>
{% endif %}
